server:
  port: 8081

spring:
  application:
    name: book-service
  datasource:
    url: jdbc:mysql://localhost:3306/library_books_db
    username: root
    password: 123456_Exol
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true