server:
  port: 8083

spring:
  application:
    name: loan-service
  datasource:
    url: jdbc:mysql://localhost:3306/library_loans_db
    username: root
    password: 123456_Exol
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true